<% include header.ejs %>
  <script src="/javascripts/editUser.js"></script>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="userID">ID</label>
        <p class="form-control-static" id="userID"><%= userr.id %></p>
      </div>
      <div class="form-group">
        <label for="userName">Name</label>
        <input type="text" class="form-control" id="userName" placeholder="Name" value="<%= userr.name %>">
      </div>
      <div class="form-group">
        <label for="userPass">Password</label>
        <input type="password" class="form-control" id="userPass" placeholder="Passward" value="<%= userr.pass %>">
      </div>
      <div class="form-group">
        <label for="userStatus">Status</label>
        <select class="form-control" id="userStatus">
            <option>Administrator</option>
            <option>User</option>
        </select>
      </div>

      <button type="button" class="btn btn-primary" id="submit">Submit</button>
    </form>
  </div>
</div>

  </div>
  <% include footer.ejs %>
