<% include header.ejs %>


  <div class="container">
    <div class="page-header">
       <h1>
          Result
       </h1>
    </div>
    <% if (sites.length) { %>
          <% sites.forEach(function(site){ %>
<div class='jumbotron'>
    <h2> <%= site.name %> </h2>
    <h3> <%= site.class %> </h3>
    <a class="btn btn-lg btn-primary" href= <%= site.url %> role="button">Go</a>
               </div>
            <% }) %>
         <% } %>



  <% include footer.ejs %>
