<% include header.ejs %>

  <form>
    <div class="form-group">
      <label for="siteName">Name</label>
      <input type="text" class="form-control" id="siteName" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="siteLink">Link</label>
      <input type="url" class="form-control" id="siteLink" placeholder="Link">
    </div>
    <button type="submit" class="btn btn-default" id="submit">Submit</button>
  </form>

  <% include footer.ejs %>
